<!DOCTYPE html>
<html>
<head ng-app="ngPaper">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>
    <script src="../../Scripts/jquery-2.2.3.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.fr.js"></script>
    <script src="../../Scripts/ng-file-upload-all.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet"/>
    <link href="../../Content/bootstrap-datetimepicker.css" rel="stylesheet"/>
    <link href="paper.css" rel="stylesheet"/>

    <script>
        var app = angular.module('ngPaper', []);
        app.controller('ngPaperCtrl',
            function ($scope, $http) {

                //获取论文

                $http.get("api/paper/getPaper")
                    .success(function(response) {
                        $scope.papers = response.papers;
                    });

                //获取学院
                $http.get("api/paper/getAcademy")
                    .success(function(response) {
                        $scope.academys = response.academys;
                        }
                    );
                //获取专业
                $http.get("api/paper/getMajor")
                    .success(function(response) {
                        $scope.majors = response.majors;
                    });
                //获取教授
                $http.get("api/paper/getProfessor")
                    .success(function(response) {
                        $scope.professors = response.professors;
                    });
                //上传分配信息
                $scope.distribute = function() {
                    $http({
                        mothed: 'POST',
                        url: 'api/paper/distributePaper',
                        data: $.param($scope.selectedProfessor)
                    }).success(
                        function() {
                            window.location.reload(true);
                        }
                    );
                }


                //文件上传
                $scope.uploadFile = function () {
                    $scope.onFileSelect = function ($file) {
                        for (var i = 0; i < $file.length; i++) {
                            $scope.upload = $upload.upload(
                                {
                                    url: 'api/paper/uploadFile',
                                    data: { uploadData: fileUploadData },
                                    file: file

                                }
                            ).progress(
                                function (evt) {
                                    console.log('percent:' + parseInt(100 * evt.loaded / evt.total));
                                }
                            ).success(
                                function (data, status, headers, config) {
                                    console.log(data);
                                }
                            );
                        }
                    }
                }

            }
            );
    </script>



</head>


<body ng-controller="ngPaperCtrl">
    <!--顶部导航栏-->
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">


                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">LOGO</a>
                </div>

                <div class="navbar-collapse collapse" id="bs-navbar-collapse" aria-expanded="false" style="height: 1px">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">更多</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img id="userPhoto" src="../../image/未标题-1.jpg"
                                 style="height: 38px; width: 38px; border-radius: 19px; margin-top: 3px" />
                        </li>
                        <li class="active"><a href="#">注销</a></li>
                    </ul>

                </div>

            </div>
        </nav>
    </div>

    <!--页面主体-->
    <div id="content">
        <!--侧边栏-->
        <div id="sidr">
            <ul>
                <li><a href="../SchoolManager.html">首页</a></li>
                <li><a href="../schoolManager/academy.html">院系管理</a></li>
                <li><a href="../schoolManager/professor.html">专家管理</a></li>
                <li><a href="../schoolManager/paper.html">论文管理</a></li>
                <li><a href="../schoolManager/personal.html">个人中心</a></li>

            </ul>

        </div>

        <!--展示主体-->
        <div id="mainBody">

            <br/>

            <div id="main">
                <div id="updata" class="row">
                    <div class="col-lg-9">
                        <h4>上传论文：</h4>
                    </div>
                    <div class="col-lg-3">
                        <a id="updataBtn" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">上传</a>
                    </div>
                </div>

                <div class="line"></div>

                <div id="unRcg">
                    <h2>未识别论文：</h2>
                    <br/>
                    <!--Need ng-repeat-->
                    <div class="panel panel-warning">
                        <div class="panel panel-heading row">
                            <h4 class="panel-title col-lg-11">基于Unity3D的海大教学楼漫游导航系统</h4>
                            <a class="btn btn-primary btn-sm col-lg-1" data-target="#assign" data-toggle="modal">分配</a>
                        </div>
                        <div class="panel-body row">
                            <div class="col-lg-4">
                                作者：窦方坤
                                <br/>
                                英文名：dongfoneky
                            </div>
                            <div class="col-lg-4">
                                发表刊物：随便哪一个都好啦
                                <br/>
                                分类：计算机毕业论文
                            </div>
                            <div class="col-lg-4">
                                学院：信息科学与工程学院
                                <br />
                                实验室：计算机实验室
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel panel-heading row">
                            <h4 class="panel-title col-lg-11">基于Unity3D的海大教学楼漫游导航系统</h4>
                            <a class="btn btn-primary btn-sm col-lg-1" data-target="#assign" data-toggle="modal">分配</a>
                        </div>
                        <div class="panel-body row">
                            <div class="col-lg-4">
                                作者：窦方坤
                                <br />
                                英文名：dongfoneky
                            </div>
                            <div class="col-lg-4">
                                发表刊物：随便哪一个都好啦
                                <br />
                                分类：计算机毕业论文
                            </div>
                            <div class="col-lg-4">
                                学院：信息科学与工程学院
                                <br />
                                实验室：计算机实验室
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-warning">
                        <div class="panel panel-heading row">
                            <h4 class="panel-title col-lg-11">基于Unity3D的海大教学楼漫游导航系统</h4>
                            <a class="btn btn-primary btn-sm col-lg-1" data-target="#assign" data-toggle="modal">分配</a>
                        </div>
                        <div class="panel-body row">
                            <div class="col-lg-4">
                                作者：窦方坤
                                <br />
                                英文名：dongfoneky
                            </div>
                            <div class="col-lg-4">
                                发表刊物：随便哪一个都好啦
                                <br />
                                分类：计算机毕业论文
                            </div>
                            <div class="col-lg-4">
                                学院：信息科学与工程学院
                                <br />
                                实验室：计算机实验室
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>


    </div>

    <!--分配模态框-->
    <div class="modal" id="assign">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">论文分配</h4>
                </div>
                <div class="modal-body">
                    <p>分配给：</p>
                    <br/>
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group row">
                                <div class="col-lg-2">
                                    <label for="selectAcademy" class="control-label">院系:</label>
                                </div>
                                <div class="col-lg-10">
                                    <select ng-model="selectedAcademy" ng-options="name for academy in academys" class="form-control" id="selectAcademy"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-2">
                                    <label for="selectMajor" class="control-label">专业:</label>
                                </div>
                                <div class="col-lg-10">
                                    <select ng-model="selectedMajor" ng-options="name for major in majors | filter : selectedAcademy" class="form-control col-lg-10" id="selectMajor"> </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <select ng-model="selectedProfessor" ng-options="name for professor in professors | filter : selectedMajor" multiple="" class="form-control"></select>
                                <p>*按住Ctrl可以多选*</p>
                            </div>
                        </fieldset>
                    </form>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button ng-click="distribute()" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--上传模态框-->
    <div id="uploadModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">上传</h4>
                </div>
                <div class="modal-body">
                    <input type="file" ng-model="fileUploadData" ng-file-select="onFileSelect($file)" multiple accept="database/" />
                    <br />
                    <a class="btn btn-danger" href="#" ng-click="upload.abort()">取消上传</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="uploadFile()"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--JS-->
<script>
    
    
</script>

</body>
</html>
