<!DOCTYPE html>
<html ng-app="ngProfessor">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AcademyManager</title>
    <meta charset="utf-8" />
    <script src="../../Scripts/jquery-2.2.3.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.js"></script>
    <script src="../../Scripts/bootstrap-datetimepicker.fr.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="academy.css" rel="stylesheet" />

    <script>
    var app = angular.module('ngProfessor', []);
    app.controller('ngProfessorCtrl',
        function ($scope, $http) {

            $scope.name = 0;



            $http.get("api/professor/getProfessor")
                .success(function(response) {
                    $scope.professors = response.professors;
                });

            $http.get("api/professor/getProfessor")
                .success(function(response) {
                    $scope.academys = response.academys;
                });

            $scope.creat = function() {
                $http({
                    method: 'POST',
                    url: 'api/professor/creatProfessor',
                    data: $.param($scope.creatData)
                }).success(
                    function() {
                        window.location.reload(true);
                    }
                );
            }

            $scope.updata = function() {
                $http({
                    mothed: 'POST',
                    url: 'api/professor/updataProfessor',
                    data:$.param($scope.updataData)
                }).success(
                    function () {
                        window.location.reload(true);
                    }
                );
            }

            $scope.delete = function () {
                $http({
                    mothed: 'POST',
                    url: 'api/professor/deleteProfessor',
                    data: $.param($scope.professor)
                }).success(
                    function () {
                        window.location.reload(true);
                    }
                );
            }




        }
        );
    </script>


</head>


<body ng-controller="ngProfessorCtrl">






    <!--顶部导航栏-->
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">


                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">LOGO</a>
                </div>

                <div class="navbar-collapse collapse" id="bs-navbar-collapse" aria-expanded="false" style="height: 1px">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">更多</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img id="userPhoto" src="../../image/未标题-1.jpg"
                                 style="height: 38px; width: 38px; border-radius: 19px; margin-top: 3px" />
                        </li>
                        <li class="active"><a href="#">注销</a></li>
                    </ul>

                </div>

            </div>
        </nav>
    </div>

    <!--页面主体-->
    <div id="content">
        <!--侧边栏-->
        <div id="sidr">
            <ul>
                <li><a href="../SchoolManager.html">首页</a></li>
                <li><a href="../schoolManager/academy.html">院系管理</a></li>
                <li><a href="../schoolManager/professor.html">专家管理</a></li>
                <li><a href="../schoolManager/paper.html">论文管理</a></li>
                <li><a href="../schoolManager/personal.html">个人中心</a></li>

            </ul>

        </div>

        <!--展示主体-->
        <div id="mainBody">

            <br />

            <div id="main">
                <div id="mainBodyHead">
                    <h2>专家管理</h2>
                </div>

                <div class="line"></div>

                <br />

                <div id="selectMenu" class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-4 row">
                        <label for="select" class="col-lg-2 control-label" style="font-size: large; padding-top: 8px">院系</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" ng-model="selectedAcademy" ng-options="name for academy in academys"></select>
                        </div>
                    </div>

                    <div class="col-lg-5"></div>

                    <div class="col-lg-2" id="btns">
                        <a data-toggle="modal" data-target="#addModal" class="btn btn-primary">添加</a>
                    </div>
                </div>

                <br />
                <br />

                <div id="academyTable">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>编号</th>
                                <th>中文名</th>
                                <th>英文名</th>
                                <th>英文缩写</th>
                                <th>性别</th>
                                <th>生日</th>
                                <th>ID卡</th>
                                <th>手机</th>
                                <th>电子邮件</th>
                                <th>修改</th>
                                <th>删除</th>
                            </tr>
                        </thead>
                        <tbody>







                            <!--ngRepeat-->
                            <tr ng-repeat="professor in professors | filter : selectedAcademy">
                                <td>{{$index + 1}}</td>
                                <td>{{professor.number}}</td>
                                <td>{{professor.CNname}}</td>
                                <td>{{professor.ENname}}</td>
                                <td>{{professor.shortENname}}</td>
                                <td>{{professor.sex}}</td>
                                <td>{{professor.birth}}</td>
                                <td>{{professor.personCard}}</td>
                                <td>{{professor.phone}}</td>
                                <td>{{professor.email}}</td>
                                <td><a ng-model="professor" data-toggle="modal" data-target="#updataModal" class="btn btn-warning btn-sm">修改</a></td>
                                <td><a ng-model="professor" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-group-sm">删除</a></td>
                            </tr>
                            <!--end ngRepeat-->
                            <tr>
                                <td>1</td>
                                <td>020330211012</td>
                                <td>窦方坤</td>
                                <td>dongfonkey</td>
                                <td>未知</td>
                                <td>男</td>
                                <td>1993.4.10</td>
                                <td>370724199304107653</td>
                                <td>15621090392</td>
                                <td>923470791@qq.com</td>
                                <td><a data-toggle="modal" data-target="#updataModal" class="btn btn-warning btn-sm">修改</a></td>
                                <td><a data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-group-sm">删除</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!--添加管理员模态框-->
    <div id="addModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">添加管理员</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group row">
                                <label for="inputName" class="col-lg-3 control-label">中文名</label>
                                <div class="col-lg-9">
                                    <input ng-model="creatData.CNname" type="text" class="form-control" id="inputName" placeholder="请输入中文名" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputENName" class="col-lg-3 control-label">英文名</label>
                                <div class="col-lg-9">
                                    <input ng-model="creatData.ENname" type="text" class="form-control" id="inputENName" placeholder="请输入英文名" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputNum" class="col-lg-3 control-label">编号</label>
                                <div class="col-lg-9">
                                    <input ng-model="creatData.number" type="number" class="form-control" id="inputNum" placeholder="请输入用户编号" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-lg-3 control-label">密码</label>
                                <div class="col-lg-9">
                                    <input ng-model="creatData.password" type="password" class="form-control" id="inputPassword" placeholder="请输入密码" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPasswordAgain" class="col-lg-3 control-label">再次输入密码</label>
                                <div class="col-lg-9">
                                    <input ng-model="creatData.passwordAgain" type="password" class="form-control" id="inputPasswordAgain" placeholder="请再次输入密码" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputUnknown" class="col-lg-3 control-label">英文名缩写</label>
                                <div class="col-lg-9">
                                    <input ng-model="creatData.shortENname" type="text" class="form-control" id="inputUnknown" placeholder="请输入英文名缩写" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">性别</label>
                                <div class="col-lg-9">
                                    <div class="radio">
                                        <label>
                                            <input ng-model="creatData.sex" type="radio" name="sexRadios" id="sexMale" value="男" checked="">
                                            男
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="creatData.sex" type="radio" name="sexRadios" id="sexFemale" value="女">
                                            女
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">出生日期</label>
                                <div class="col-lg-9">
                                    <div class="input-append date" data-date="2016-5-20" data-date-format="yyyy-mm-dd">
                                        <input ng-model="creatData.birth" class="datetimepicker" type="text" value="2015-5-20" readonly />
                                    </div>
                                    <script>
                                    $(".datetimepicker").datetimepicker({
                                        format: 'yyyy-mm-dd',
                                        autoclose: true,
                                        todayBtn: false,
                                        startData: "1990-01-01",
                                        minuteStep: 10,
                                        startView: 2,
                                        minView: 2
                                    });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputIDNum" class="col-lg-3 control-label">ID编号</label>
                                <div class="col-lg-9">
                                    <input ng-model="creatData.ID" type="text" class="form-control" id="inputIDNum" placeholder="请输入ID编号" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPhone" class="col-lg-3 control-label">手机</label>
                                <div class="col-lg-9">
                                    <input ng-model="creatData.phone" type="text" class="form-control" id="inputPhone" placeholder="请输入手机号码" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-9">
                                    <input ng-model="creatData.Email" type="email" class="form-control" id="inputEmail" placeholder="请输入电子邮箱" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <p>{{creatData}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button ng-click="creat()" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>


    <!--修改管理员模态框-->
    <div id="updataModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">修改管理员</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group row">
                                <label for="updataName" class="col-lg-3 control-label">中文名</label>
                                <div class="col-lg-9">
                                    <input ng-model="updataData.CNname" type="text" class="form-control" id="updataName" placeholder="{{name.CNname}}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updataENName" class="col-lg-3 control-label">英文名</label>
                                <div class="col-lg-9">
                                    <input ng-model="updataData.ENname" type="text" class="form-control" id="updataENName" placeholder="{{name.ENname}}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updataNum" class="col-lg-3 control-label">编号</label>
                                <div class="col-lg-9">
                                    <input ng-model="updataData.number" type="number" class="form-control" id="updataNum" placeholder="{{name.number}}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updataPassword" class="col-lg-3 control-label">密码</label>
                                <div class="col-lg-9">
                                    <input ng-model="updataData.password" type="password" class="form-control" id="updataPassword" placeholder="请输入密码" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updataPasswordAgain" class="col-lg-3 control-label">再次输入密码</label>
                                <div class="col-lg-9">
                                    <input ng-model="updataData.passwordAgain" type="password" class="form-control" id="updataPasswordAgain" placeholder="请再次输入密码" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updataUnknown" class="col-lg-3 control-label">英文名缩写</label>
                                <div class="col-lg-9">
                                    <input ng-model="updataData.shortENname" type="text" class="form-control" id="updataUnknown" placeholder="{{name.shortENname}}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">性别</label>
                                <div class="col-lg-9">
                                    <div class="radio">
                                        <label>
                                            <input ng-model="updataData.sex" type="radio" name="sexRadios" id="updataMale" value="男" checked="">
                                            男
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="updataData.sex" type="radio" name="sexRadios" id="updataFemale" value="女">
                                            女
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 control-label">出生日期</label>
                                <div class="col-lg-9">
                                    <div class="input-append date" data-date="2016-5-20" data-date-format="yyyy-mm-dd">
                                        <input ng-model="updataData.birth" class="datetimepicker" type="text" value="{{name.birth}}" readonly />
                                    </div>
                                    <script>
                                    $(".datetimepicker").datetimepicker({
                                        format: 'yyyy-mm-dd',
                                        autoclose: true,
                                        todayBtn: false,
                                        startData: "1990-01-01",
                                        minuteStep: 10,
                                        startView: 2,
                                        minView: 2
                                    });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updataIDNum" class="col-lg-3 control-label">ID编号</label>
                                <div class="col-lg-9">
                                    <input ng-model="updataData.ID" type="text" class="form-control" id="updataIDNum" placeholder="{{name.personCard}}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updataPhone" class="col-lg-3 control-label">手机</label>
                                <div class="col-lg-9">
                                    <input ng-model="updataData.phone" type="text" class="form-control" id="updataPhone" placeholder="{{name.phone}}" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="updataEmail" class="col-lg-3 control-label">Email</label>
                                <div class="col-lg-9">
                                    <input ng-model="updataData.Email" type="email" class="form-control" id="updataEmail" placeholder="{{name.Email}}" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <p>{{updataData}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button ng-click="updata()" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>


    <!--删除模态框-->
    <div id="deleteModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">删除</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要删除吗？一旦删除即不可找回！</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" ng-click="delete()" class="btn btn-primary">删除</button>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
