body {
    height: 100%;
    width: 100%;
}

#main {

}

.line {
    height: 2px;
    width: 100%;
    color: black;
    box-shadow: rgb(57, 56, 56) 2px 2px inset;
    margin-bottom: 20px;
}

.panel {
    margin-bottom: 6px;
    margin-left: 17px;
    margin-right:17px;
}

.panel-heading {
    margin-left:0;
    margin-right:0;
}
