<!DOCTYPE html>
<html ng-app="ngAcademyManager">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8"/>

    <script src="../Scripts/jquery-2.2.3.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/bootstrap.js"></script>>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="AcademyManager.css" rel="stylesheet"/>

    <script>
        var app = angular.module('ngAcademyManager', []);
        app.controller('ngAcademyManagerCtrl',
            function($scope,$http) {
                $http.get('api/academyManager/getPaper');

                $scope.confirmPaper = function() {
                    $http({
                        
                    }).success();
                }
            });
    </script>

</head>
<body ng-controller="ngAcademyManagerCtrl">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8" id="main">
            <div id="head">
                <h1>院系论文管理</h1>
                <div class="line"></div>

                <div class="paperBody">
                    <!--Need ng-repeat-->
                    <div class="panel panel-primary">
                        <div class="panel panel-heading row">
                            <h4 class="panel-title col-lg-11">基于Unity3D的海大教学楼漫游导航系统</h4>
                            <a ng-click="confirmPaper()" class="btn btn-success btn-sm col-lg-1">确认</a>
                        </div>
                        <div class="panel-body row">
                            <div class="col-lg-4">
                                作者：窦方坤
                                <br />
                                英文名：dongfoneky
                            </div>
                            <div class="col-lg-4">
                                发表刊物：随便哪一个都好啦
                                <br />
                                分类：计算机毕业论文
                            </div>
                            <div class="col-lg-4">
                                学院：信息科学与工程学院
                                <br />
                                实验室：计算机实验室
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel panel-heading row">
                            <h4 class="panel-title col-lg-11">基于Unity3D的海大教学楼漫游导航系统</h4>
                            <a ng-click="confirmPaper()" class="btn btn-success btn-sm col-lg-1">确认</a>
                        </div>
                        <div class="panel-body row">
                            <div class="col-lg-4">
                                作者：窦方坤
                                <br />
                                英文名：dongfoneky
                            </div>
                            <div class="col-lg-4">
                                发表刊物：随便哪一个都好啦
                                <br />
                                分类：计算机毕业论文
                            </div>
                            <div class="col-lg-4">
                                学院：信息科学与工程学院
                                <br />
                                实验室：计算机实验室
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel panel-heading row">
                            <h4 class="panel-title col-lg-11">基于Unity3D的海大教学楼漫游导航系统</h4>
                            <a ng-click="confirmPaper()" class="btn btn-success btn-sm col-lg-1">确认</a>
                        </div>
                        <div class="panel-body row">
                            <div class="col-lg-4">
                                作者：窦方坤
                                <br />
                                英文名：dongfoneky
                            </div>
                            <div class="col-lg-4">
                                发表刊物：随便哪一个都好啦
                                <br />
                                分类：计算机毕业论文
                            </div>
                            <div class="col-lg-4">
                                学院：信息科学与工程学院
                                <br />
                                实验室：计算机实验室
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

   


</body>
</html>
