body {
    background-image: url('../image/32-130Q4163544.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#content {
    height: 600px;
    width: 480px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#contentHeader {
    height: 75px;
    background-image: url('../image/未标题-1.jpg');
    border-radius: 20px 20px 0 0;
}

#contentHeader h2 {
    color: white;
    transform: translate(30px, 20px);
}

#contentBody {
    height: 450px;
    background-color: rgba(255, 255, 255, 0.4);
}

#contentBody form {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

#contentFooter {
    background-color: aliceblue;
    height:75px;
    border-radius: 0 0 20px 20px;
}

#contentFooter a {
    transform: translate(330px, 10px);
}