<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DBModel" connectionString="data source=222.195.150.214\sql08r2;initial catalog=PaperRecognize;user id=sa; password=qwe123!@#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBModel1" connectionString="data source=222.195.150.214\sql08r2;initial catalog=PaperRecognize;user id=sa;password=qwe123!@#;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PressType" value="0" />
    <add key="AuthorsShort" value="1" />
    <add key="AuthorName" value="2" />
    <add key="FirstDept" value="3" />
    <add key="OUCOrder" value="4" />
    <add key="College" value="5" />
    <add key="Lab" value="6" />
    <add key="Authors" value="7" />
    <add key="PaperName" value="8" />
    <add key="JournalName" value="9" />
    <add key="Series" value="10" />
    <add key="Language" value="11" />
    <add key="PaperType" value="12" />
    <add key="AuthorKeyWord" value="13" />
    <add key="KeyWords" value="14" />
    <add key="Abstract" value="15" />
    <add key="Address" value="16" />
    <add key="ConnAuthor" value="17" />
    <add key="ConnAuthorName" value="18" />
    <add key="ConnAuthorDept" value="19" />
    <add key="EmailAddess" value="20" />
    <add key="CitedReference" value="21" />
    <add key="CitedReferenceCount" value="22" />
    <add key="TotalTimesCited" value="23" />
    <add key="Press" value="24" />
    <add key="City" value="25" />
    <add key="PressAdress" value="26" />
    <add key="ISSN" value="27" />
    <add key="DI" value="28" />
    <add key="StandardJournalShort" value="29" />
    <add key="ISIJournalShort" value="30" />
    <!-- 模板格式-->
    <add key="PublishDate" value="31" />
    <add key="PublishYear" value="32" />
    <!-- 
    <add key="PublishDate" value="39"/>
    <add key="PublishYear" value="40"/>
    -->
    <add key="Volume" value="33" />
    <add key="Issue" value="34" />
    <add key="PartNumber" value="35" />
    <add key="Supplement" value="36" />
    <add key="SpecialIssue" value="37" />
    <add key="StartPage" value="38" />
    <add key="EndPage" value="39" />
    <add key="ArticleNumber" value="40" />
    <add key="PageCount" value="41" />
    <add key="SubjectCategory" value="42" />
    <add key="Citations" value="43" />
    <add key="ISIDeliveryNo" value="44" />
    <add key="ISIArticleIdentifier" value="45" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>